<%- include('partials/head'); %>
<%- include('partials/navbar'); %>

    <div class="container">
        <h1 class="display-3">Asks</h1>
        <% asks.forEach(function(ask) { %>
            <div class="card mt-4">
                <div class="card-header">
                    <h1 class="display-5"><%= ask.title %></h1>
                </div>
                <div class="card-body">
                    <p class="card-text"><%= ask.description %></p>
                    <a class="btn btn-dark" href="/selquestion/<%= ask.id %>" role="button">To go</a>

                </div>
            </div>
        <% }) %>


        
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-center">
                <% for (var i = 0; i < pages;  i++ ) { %>
                    <li class="page-item"><a class="page-link" href="/?page=<%= i+1 %>"><%= i+1 %></a></li>
                <% } %>
            </ul>
        </nav>



    </div>    

<%- include('partials/footer'); %>